

body {
    background: #090f1d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Canela', serif;
    font-weight: bold;
    font-weight: 500;
    font-size: 64px;
    line-height: 120%;
    color: #fffffd;
}